<%- include("./partials/header")  %>


<div class="container"> 
    <div class="container d-flex py-2 my-0 mx-4" style="background-color: rgba(42, 42, 57, 0.388);color:aliceblue;justify-content: center;align-items: center;"><h3>About the Developer</h3></div>
</div>
<div class="modal" id="factModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" style="font-weight: 620;" id="exampleModalLabel">Here is your fact</h5>
          
            
          </button>
        </div>
        <div class="modal-body " style="font-weight: 530;">
          <%=fact%>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" onClick="window.location.reload()" data-dismiss="modal">Close</button>
         
        </div>
      </div>
    </div>
  </div>
  <div class="modal" id="jokeModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" style="font-weight: 620;" id="exampleModalLabel">Here is your Joke</h5>
            
              
            </button>
          </div>
          <div class="modal-body" style="font-weight: 530;">
            <%=joke%><br><hr>
            Punchline - <%=punchline%>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" onClick="window.location.reload()" data-dismiss="modal">Close</button>
           
          </div>
        </div>
      </div>
    </div>
<div class="container my-4 py-4 ml-7" style="background-color: rgba(23, 22, 22, 0.685);">
    <h5 style="font-weight: 550; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;color: rgb(255, 255, 255);">
    This website is developed by me(Shashank Shekhar). I am currently pursuing my B.tech from MNNIT ALLAHABAD. I am a third year student and have keen interest in web development and other web technologies. I am a resident of Ranchi(Jharkhand) and currently living in Prayagraj(Uttar Pradesh) for my studies. I have worked on many web projects and I often like to work on the backend development.You can usually find me near the Canteen of our hostel or in the library of our college.
    This shows my trait that I like to eat and read new books a lot.
        <br>
        <hr>
        
    Beside Coding, DSA and Development I also like to play video games and many more outdoor sports such as Cricket, Football and Table tennis.
</h5>
</div>

<div class="container my-4 py-4 ml-7" style="background-color: rgba(23, 22, 22, 0.689);">
    <h5 style="font-weight: 550; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;color: rgb(255, 255, 255);">
    <span style="font-size: larger;">You can contact me by :</span>
    <br>
    <hr>

    E-mail : shekhar824947@gmail.com
    <br>
    Phone : 8987829543
    <br>
    Instagram : shekhar_shashank.01

</h5>
</div>
<hr>
<%- include("./partials/footer")  %>